body {
    background-image: url("../img/background.jpg");
    background-size: 2500px;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: darkgrey;
}

p { 
    font-size: large;
    color: darkgrey;
}
  
  h1 {
    color: rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h2 {
    color:rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h3{
    color:rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h4 {
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h5{
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h6{
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/*menu settings*/

  ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 100px;
    padding: 20px;
    width: 150px;
    font-size: 20px;
  }

  li a {
    display: block;
    color: lightgray;
  }

  li a:hover {
    color: darkgray;
  }

  .active {
    color: rgb(105,45,142)
  }

  /*collapsable menu settings

  .menu-content {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.collapsible-menu {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 56px;
  display: block;
  cursor: pointer;
  background: url(../img2/menu.png) no-repeat left center;
  padding: 10px 0 10px 50px;
}
input#menu {
  display: none;
}

input:checked +label {
  background-image: url(close.png);
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif; 
  padding: 0 0 0 50px;
}

*/

/* Toggle Effect */
input:checked ~ label {
  background-image: url(close.png);
}
input:checked ~ .menu-content {
  max-height: 100%;
}

/*icon is from the noun project, created by Rohith M S*/


  /*page layout*/

  .item1 { grid-area: logo; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: greeting; }
  .item4 { grid-area: text; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    'logo greeting greeting greeting greeting'
    'menu menu text text text'
    'menu menu text text text';
    gap: 10px;
    padding: 10px 10px;
  }

  
  .grid-container div {
    text-align: center;
    padding: 0px 30px;
    font-size: 30px;
  }

/*not sure what all of this does, will have to ask*/

  @media screen and (min-width: 1000px) {
    p {
      text-align: center;
    }
   
}
  
  @media screen and (max-width: 999px) {
    p {
        text-align: left;
    }
    .grid-container div{
        padding:0px 10px;
        font-size:10px;
    }
  }