body {
    background-image: url("../img/background.jpg");
    background-size: 2500px;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: darkgrey;
}

p { 
    font-size: large;
    color: darkgrey;
}
  
  h1 {
    color: rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h2 {
    color:rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h3{
    color:rgb(105,45,142);
    font-family: Arial, Helvetica, sans-serif;
}

  h4 {
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h5{
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h6{
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}



  ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 100px;
    padding: 20px;
    width: 150px;
    font-size: 20px;
  }

  li a {
    display: block;
    color: lightgray;
  }

  li a:hover {
    color: darkgray;
  }

  .active {
    color: rgb(105,45,142)
  }

  .item1 { grid-area: logo; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: greeting; }
  .item4 { grid-area: text; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    'logo greeting greeting greeting greeting'
    'menu menu text text text'
    'menu menu text text text';
    gap: 10px;
    padding: 10px 10px;
  }

  
  .grid-container div {
    text-align: center;
    padding: 0px 30px;
    font-size: 30px;
  }


  @media screen and (min-width: 1000px) {
    p {
      text-align: center;
    }
   
}
  
  @media screen and (max-width: 999px) {
    p {
        text-align: left;
    }
    .grid-container div{
        padding:0px 10px;
        font-size:10px;
    }
  }