body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 { background-image: url("../photos/me3.jpg"); }
.img2 { background-image: url("../photos/me1.jpg"); }
.img3 { background-image: url("../photos/me.jpg"); }
.img4 { background-image: url("../photos/me2.jpg"); }
.img5 { background-image: url("../photos/background.jpg"); }
.img6 { background-image: url("../photos/me4.jpg"); }


/* Position header in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(90,107,71);
  font-weight: bold;
  font-size: 70px;
  border: 10px solid rgb(90,107,71);
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}


/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: black;
position:fixed;
top:20px;
right:0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
display: none;
}

/* Style navigation menu links */
.topnav a {
color: white;
padding: 16px 16px;
text-decoration: none;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

/* Add a green background color on mouse-over */
.topnav a:hover {
color: rgb(90,107,71);
}

/* Style the active link (or home/logo) */
.active {
color: darkgrey;
}

/*flexbox settings*/
.topbar {
display: flex;
flex-wrap: nowrap;
}
.logo {
flex: 20%;
padding: 10px;
background-color: black;
position: relative;
}