body {
    background-image: url("../img/background.jpg");
    background-size: 2500px;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: darkgrey;
}

/*font styles*/

p { 
    font-size: 7 px;
    color: darkgrey;
}
  
  h1 {
    color: rgb(139,169,128);
    font-family: Arial, Helvetica, sans-serif;
}

  h2 {
    color:rgb(139,169,128);
    font-family: Arial, Helvetica, sans-serif;
}

  h3{
    color:rgb(139,169,128);
    font-family: Arial, Helvetica, sans-serif;
}

  h4 {
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h5{
    color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
  h6{
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


/*page layout*/

.item1 { grid-area: logo; }
.item2 { grid-area: menu; }
.item3 { grid-area: header; }
.item4 { grid-area: photos; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    'logo header header header'
    'menu photos photos photos'
    'menu photos photos photos';
    gap: 10px;
    padding: 10px 10px;
  }

  
  .grid-container div {
    text-align: center;
    padding: 10px 30px;
    font-size: 30px;
  }

/*menu design*/

ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 100px;
    padding: 20px;
    width: 150px;
    font-size: 20px;
  }

  li a {
    display: contents;
    color: lightgray;
  }

  li a:hover {
    color: darkgray;
  }

  .active {
    color: rgb(139,169,128)
  }

  /*image overlay settings*/

  .container {
    position: sticky;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    background-color: black;
  }
  
  .container:hover .overlay {
    opacity: 75%;
  }
  
  .text {
    color: white;
    font-size: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }




