.leftright {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 10px;
}

.imagescroller {
  flex: 85%;
}

.menu {
  flex: 15%;
  background-color: rgb(90 107 71);
  /* position: fixed; */
  text-align: right;
  right: 20px;
  top: 250px;
}

.home {
  background-color: rgb(90 107 71);
}

/*Menu Styling*/

.menu a{
  display: block;
  text-decoration: none;
  color: darkgrey;
  padding: 4px;
}

.menu a:hover{
  color: white;
}


body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  /* Images used */
  .img1 { background-image: url("../photos/me3.jpg"); }
  .img2 { background-image: url("../photos/me1.jpg"); }
  .img3 { background-image: url("../photos/me.jpg"); }
  .img4 { background-image: url("../photos/me2.jpg"); }
  .img5 { background-image: url("../photos/background.jpg"); }
  .img6 { background-image: url("../photos/me4.jpg"); }


/* Position header in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, .7); /* Black w/opacity/see-through */
  color: rgb(90,107,71);
  font-weight: bold;
  font-size: 70px;
  border: 10px solid rgb(90,107,71);
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}